#breadcrumbs.breadcrumbs
    ul.breadcrumb
        li
            i.icon-home.home-icon
            a(href="#") 首页
            span.divider
                i.icon-angle-right.arrow-icon
        li.active 页面