doctype html
html.no-js
    head
        include head
        block style
    body
        include navbar
        .main-container.container-fluid
            include sidebar
            block sidebar
            .main-content
                include breadcrumbs
                block breadcrumbs
                .page-content
                    block content
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        //- 侧边栏脚本
        script
            include ../../src/js/layouts/sidebar.js
        //- 顶部栏脚本
        script
            include ../../src/js/layouts/navbar.js
        block script