.navbar
    .navbar-inner
        .container-fluid
            a.brand
                small
                    i.icon-leaf
                    |  ACC Admin
            ul.nav.ace-nav.pull-right
                li.green
                    a(data-toggle="dropdown").dropdown-toggle
                        i.icon-envelope.icon-animated-vertical
                        span.badge.badge-success 5
                    ul.pull-right.dropdown-navbar.dropdown-menu.dropdown-caret.dropdown-closer
                        li.nav-header
                            i.icon-envelope-alt
                            |  5 Messages
                li.light-blue
                    a(data-toggle="dropdown").dropdown-toggle
                        i.icon-user.icon-animated-vertical
                        span.user-info(style="line-height:30px") Toffy
                        i.icon-caret-down
                    ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-closer
                        li
                            a#logout
                                i.icon-off
                                |  退出