mixin sidebar(name)
    #sidebar.sidebar
        ul.nav.nav-list
            li(class={active:name=='order'})
                a(href="order.html")
                    i.icon-dashboard
                    span.menu-text 订单信息
            li(class={'active open':~['provider_info','provider_verify'].indexOf(name)})
                a(href="#").dropdown-toggle
                    i.icon-desktop
                    span.menu-text 店主管理
                    b.arrow.icon-angle-down
                ul.submenu
                    li(class={active:name=='provider_info'})
                        a(href="provider_info.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  店主信息
                    li(class={active:name=='provider_verify'})
                        a(href="provider_verify.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  资料审核
            li(class={'active open':~['user_info','user_verify','credit'].indexOf(name)})
                a(href="#").dropdown-toggle
                    i.icon-text-width
                    span.menu-text 车主管理
                    b.arrow.icon-angle-down
                ul.submenu
                    li(class={active:name=='user_info'})
                        a(href="user_info.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  车主信息
                    li(class={active:name=='user_verify'})
                        a(href="user_verify.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  分享审核
                    li(class={active:name=='credit'})
                        a(href="credit.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  积分设置
            li(class={active:name=='knowledge'})
                a(href="knowledge.html")
                    i.icon-dashboard
                    span.menu-text 知识常识