mixin sidebar(name)
    #sidebar.sidebar
        ul.nav.nav-list
            li(class={active:name=='order'})
                a(href="order.html")
                    i.icon-dashboard
                    span.menu-text order
            li.open(class={active:~['provider_info','provider_verify'].indexOf(name)})
                a(href="#").dropdown-toggle
                    i.icon-desktop
                    span.menu-text provider
                    b.arrow.icon-angle-down
                ul.submenu(style="display:block")
                    li(class={active:name=='provider_info'})
                        a(href="index.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  provider info
                    li(class={active:name=='provider_verify'})
                        a(href="index.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  provider verify
            li.open(class={active:~['user_info','user_verify','credit'].indexOf(name)})
                a(href="#").dropdown-toggle
                    i.icon-text-width
                    span.menu-text user
                    b.arrow.icon-angle-down
                ul.submenu(style="display:block")
                    li(class={active:name=='user_info'})
                        a(href="index.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  user info
                    li(class={active:name=='user_verify'})
                        a(href="index.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  user verify
                    li(class={active:name=='credit'})
                        a(href="index.html")
                            i.icon-double-angle-right
                            i.icon-dashboard
                            |  credit
            li(class={active:name=='knowledge'})
                a(href="index.html")
                    i.icon-dashboard
                    span.menu-text knowledge