extends ./layouts/main.jade

//block style
//    link(rel="stylesheet",href="css/__FILENAME__.css")

block script
    script(src="js/__FILENAME__.js")

block content
    h1
        i.icon-user
        |  Welcome to ACC System!