extends ./layouts/main.jade

block breadcrumbs
    +breadcrumbs([{name:'知识常识'}])

block sidebar
    +sidebar('__FILENAME__')

block style
    link(rel="stylesheet",href="css/__FILENAME__.css")

block script
    script(src="js/__FILENAME__.js")

block content
    #widget.widget-box
    script#tempWidget(type="text/html")
        .widget-header.header-color-blue
            h5.bigger.lighter
                i.icon-table
                |  知识常识列表
        .widget-body
            .widget-main.no-padding
                table.table.table-striped.table-bordered.table-hover
                    thead
                        tr
                            th ID
                            th 标题
                            th 内容
                            th 创建时间
                            th
                    tbody
                        | {{each list as o}}
                        tr
                            td {{o.id}}
                            td {{o.title}}
                            td {{o.content}}
                            td {{o.time}}
                            td
                                .action-buttons
                                    a.btn.btn-mini.btn-info(href="knowledge_edit.html?id={{o.id}}")
                                        i.icon-pencil.bigger-130
                                        |  编辑
                        | {{/each}}