extends ./layouts/main.jade

block breadcrumbs
    +breadcrumbs([{name:'__FILENAME__'}])

block sidebar
    +sidebar('__FILENAME__')

block style
    link(rel="stylesheet",href="css/__FILENAME__.css")

block script
    script(src="js/__FILENAME__.js")

block content
    table.table.table-striped.table-bordered.table-hover
        thead
            tr
                th order id
                th user
                th provider
                th create time
                th
        tbody
            tr
                td 123456
                td toffy
                td car shop
                td 2016-03-09 12:12:43
                td
                    .action-buttons
                        a.blue
                            i.icon-zoom-in.bigger-130