extends ./layouts/main.jade

block breadcrumbs
    +breadcrumbs([{name:'分享审核'}])

block sidebar
    +sidebar('__FILENAME__')

block style
    link(rel="stylesheet",href="css/__FILENAME__.css")

block script
    script(src="js/__FILENAME__.js")

block content
    #widget.widget-box
    script#tempWidget(type="text/html")
        .widget-header.header-color-blue
            h5.bigger.lighter
                i.icon-table
                |  车主分享审核列表
        .widget-body
            .widget-main.no-padding
                table.table.table-striped.table-bordered.table-hover
                    thead
                        tr
                            th ID
                            th 车主
                            th 标题
                            th 提交时间
                            th 状态
                            th
                    tbody
                        | {{each list as o}}
                        tr
                            td {{o.id}}
                            td {{o.name}}
                            td {{o.title}}
                            td {{o.submitTime}}
                            td {{o.status}}
                            td
                                .action-buttons
                                    a.btn.btn-mini.btn-info(href="user_verify_detail.html?id={{o.id}}")
                                        i.icon-pencil.bigger-130
                                        |  审核
                        | {{/each}}