@import "base/def";
body{
  font-family: "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",FontAwesome,sans-serif;
}
a{
  cursor: pointer;
}
.controls .text {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.form-actions>.btn{
  margin-right: 5px;
}